VITE_API_KEY=Your_Vite_API_Key
VITE_AUTH_DOMAIN=Your_Vite_Auth_Domain
VITE_PROJECT_ID=Your_Vite_Project_Id
VITE_STORAGE_BUCKET=Your_Vite_Storage_Bucket
VITE_MESSAGING_SENDER_ID=Your_Vite_Messaging_Sender_Id
VITE_APP_ID=Your_Vite_App_Id
VITE_API_URL=Your_Vite_API_URL
